body{
	background-color: #66aee8;
}
.leftMenu{
	float: left;
	text-align: center;
	width: 10%;
	margin-top: 5%;
}
.sectionHeader{
	font-size: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.text{
	width: 82%;
	float: left;
	margin-left: 2%;
	margin-top: 5%;
	padding: 10px;
	border-left: 1px solid blue;
	border-top: 1px solid blue;
}
.button{
	box-sizing: border-box;
	border: 1px solid black;
	background-color: white;
	color: black;
	width: 100%;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.button:hover{
	background-color: lightblue;
}
.activePage{
	float: left;
	padding: 15px;
	border: 1px solid black;
	background-color: darkblue;
	color: white;
	width: 20%;
	box-sizing: border-box;
	text-decoration: none;
}
.topHeader{
	text-align: center;
}
.topHead{
	float: left;
	padding: 15px;
	border: 1px solid black;
	background-color: darkgray;
	width: 20%;
	box-sizing: border-box;
	text-decoration: none;
}
.topHead:hover{
	background-color: gray;
}
.term{
	font-size: 36px;
	color: lightblue;
}